* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {  
  background-color: '#d9d9d9';
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

p{
  font-size: 25px;
}

pre{
  font-size: large;
}
@media(max-width:600px){
  h1{
    font-size: large;
  }
  pre{
    font-size: large;
  }
  .display-4{
    font-size: 250%;
  }
  p{
    font-size: 20px;
  }
}
@media(max-width:450px){
  h1{
    font-size: large;
  }
  pre{
    font-size: small;
  }
  .display-4{
    font-size: 180%;
  }
  
  p{
    font-size: 16px;
  }
}

@media(max-width:370){
  h1{
    font-size: large;
  }
  pre{
    font-size: small;
  }
  .display-4{
    font-size: 150%;
  }
  p{
    font-size: 13px;
  }

}